@{
    ViewData["PageTitle"] = "Liên Hệ";
}


<div class="container mt-2">
    <h1 class="text-center">Liên hệ với Nền tảng</h1>
    <div class="row">
        <div class="col col-md-6">
            <img src=" ">
        </div>
        <div class="col col-md-6">
            <form method="post" action="https://nentang.vn/">
                <div class="form-group">
                    <label for="email">Email của bạn</label>
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="Email của bạn">
                </div>
                <div class="form-group">
                    <label for="title">Tiêu đề của bạn</label>
                    <input type="text" class="form-control" id="title" name="title"
                           placeholder="Tiêu đề của bạn">
                </div>
                <div class="form-group">
                    <label for="message">Lời nhắn của bạn</label>
                    <textarea name="message" class="form-control"></textarea>
                </div>
                <button class="btn btn-primary" name="btnGoiLoiNhan">Gởi lời nhắn</button>
            </form>
        </div>
    </div>
</div>
    <div class="row mt-2">
        <div class="col col-md-12">
            <iframe title="Bản đồ DLU" style={{width: 100%, height: 450, border: 0}}allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.2877902405344!2d108.4420162141259!3d11.954565639612163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317112d959f88991%3A0x9c66baf1767356fa!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyDEkMOgIEzhuqF0!5e0!3m2!1svi!2s!4v1678180529869!5m2!1svi!2s"></iframe>
        </div>
    </div>
